#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    behaviors {
        ht_mb4: hold_tap_mb4 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MB4";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&mkp>;
        };

        ht_spc: hold_tap_space {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_SPACE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ht_mb5: hold_tap_mb5 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MB5";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&mkp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    macros {
        sleep: sleep {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_WIN &kp LEFT_CONTROL &kp L>;
            label = "SLEEP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none         &none         &none      &none              &none                                      &none        &none  &none      &none                 &none                   &none
&none  &kp Q         &kp W         &kp E      &kp R              &kp T                                      &kp Y        &kp U  &kp I      &kp O                 &kp P                   &none
&none  &kp A         &kp S         &kp D      &kp F              &kp G            &none     &none           &kp H        &kp J  &kp K      &kp L                 &lt 1 MINUS             &none
&none  &kp Z         &kp X         &kp C      &kp V              &kp B            &none     &none           &kp N        &kp M  &kp SLASH  &kp NON_US_BACKSLASH  &lt 3 NON_US_BACKSLASH  &none
&none  &kp LEFT_WIN  &kp LEFT_ALT  &kp LANG1  &ht_mb4 LCTRL MB4  &ht_spc LS(LCTRL) SPACE  &ht_mb5 LSHIFT MB5  &lt 4 BACKSPACE  &lt 2 ENTER  &none  &none      &none                 &lt 5 LCTRL             &none
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans                                &trans          &trans          &trans           &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans                                &msc SCRL_UP    &kp TAB         &kp LS(TAB)      &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans     &trans      &trans         &mkp MB3        &mkp MB1        &mkp MB2         &none   &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans     &trans      &trans         &msc SCRL_DOWN  &msc SCRL_LEFT  &msc SCRL_RIGHT  &trans  &trans  &trans
&trans  &trans  &trans  &kp LANG2  &kp LCTRL  &kp SPACE  &kp LSHIFT  &kp BACKSPACE  &kp ENTER       &trans          &trans           &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans           &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans     &trans     &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LANG2  &kp LANG1  &kp N7  &kp N8  &kp N9                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &kp N4  &kp N5  &kp N6  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &kp N1  &kp N2  &kp N3  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &kp N0  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans     &trans     &trans               &trans                    &trans                                     &trans            &trans             &trans              &trans                &trans         &trans
&trans  &kp LANG2  &kp LANG1  &kp LS(SQT)          &kp LS(LEFT_PARENTHESIS)  &kp LS(RIGHT_PARENTHESIS)                  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LS(LEFT_BRACE)  &kp LS(RIGHT_BRACE)   &kp AT_SIGN    &trans
&trans  &trans     &trans     &kp LS(DOLLAR)       &kp LS(PERCENT)           &kp AMPERSAND              &trans  &trans  &kp COMMA         &kp PERIOD         &kp LS(LESS_THAN)   &kp LS(GREATER_THAN)  &kp LS(GRAVE)  &trans
&trans  &trans     &trans     &kp LS(EXCLAMATION)  &kp LS(DOUBLE_QUOTES)     &kp HASH                   &trans  &trans  &kp SEMI          &kp COLON          &kp PLUS            &kp LS(ASTERISK)      &trans         &trans
&trans  &trans     &trans     &kp ESC              &trans                    &trans                     &trans  &trans  &trans            &trans             &trans              &trans                &trans         &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans   &trans   &trans   &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F11  &kp F12  &kp F6   &kp F7  &kp F8                  &trans  &trans  &trans  &trans  &sleep  &trans
&trans  &trans   &trans   &kp F4   &kp F5  &kp F5  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &kp F1   &kp F2  &kp F3  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &kp F10  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

&pointing_listener {
    mouse_mode {
        layers = <1 2 3 4 5>;
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;
    };
    scroller {
        layers = <0>;
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
            &zip_xy_to_scroll_mapper
        >;
    };
};
